<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="jdbc.properties"/>

    <typeAliases>
        <typeAlias type="reservationSystem.models.Guest" alias="Guest"/>
        <typeAlias type="reservationSystem.models.GuestAccount" alias="GuestAccount"/>
        <typeAlias type="reservationSystem.models.Reservation" alias="Reservation"/>
        <typeAlias type="reservationSystem.models.RoomType" alias="RoomType"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="reservationSystemMapperXML/GuestMapper.xml"/>
        <mapper resource="reservationSystemMapperXML/ReservationMapper.xml"/>
        <mapper resource="reservationSystemMapperXML/RoomTypeMapper.xml"/>
        <mapper resource="reservationSystemMapperXML/GuestAccountMapper.xml"/>
    </mappers>

</configuration>